body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.hero{
    display: flex;
}
.half-width{
    width: 50%;
    padding: 20px;
    margin-left: 20px;


}
.half-width img{
    width: 80%;
    margin-left: 30px;
    

}

.half-width a{
    text-decoration: none;
    background-image: linear-gradient(orange, red);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
}
.half-width h1 span{
    color: orangered;
}
.hero{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;

}
.half-width p {
	color: dimgray;
    padding: 10px;
    width: 80%;
}
/* MIDDLE section */
.middle-area{
    display: flex;
    margin-top: 150px;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

/* Experience section */
.experience{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.box{
    display: flex;
}

.box .half-width{
    width: 40%;
    box-shadow: 10px 10px 10px 10px gray;
    margin-left: 5%;
    
}
.box .half-width h3{
    color: orangered;
}

#pro-dev{
    border-left: 7px solid;
    border-image: linear-gradient(orange, red);
    border-image-slice:1 ;
}
#baby-dev{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice:1 ;
}
footer{
    color: dimgray;
    text-align: center;
    margin: 200px 0 20px 0;
}
